<div class="main py-5 bg-gray_100">
    <div class="container-xl">
      <div class="mb-10 px-4 xl:px-0">
        <h1 class="font-bold text-2xl">WHAT OUR CLIENT SAYS</h1>
        <div class=" w-20 border-b-3 rounded-full border-yellow_700 my-3"></div>
      </div>
  
      <div class="slider-div">
        <horizontal-slider
          class="flex justify-center gap-x-4"
          [xs-visible-slides]="xsSlides"
          [sm-visible-slides]="smSlides"
          [md-visible-slides]="mdSlides"
          [lg-visible-slides]="lgSlides"
        >
          <hs-nav-left class="text-sm bg-yellow_600 text-white py-1 px-2 bg-opacity-75 lg:absolute -top-32 3xl:-top-40 left-10"><i class="fa fa-chevron-left"></i></hs-nav-left>
          <hs-nav-right class="text-sm bg-yellow_600 text-white py-1 px-2 bg-opacity-75 lg:absolute -top-32 3xl:-top-40 right-12"><i class="fa fa-chevron-right"></i></hs-nav-right>
  
          <hs-slide *ngFor="let item of items" class=" bg-white w-full xs:mx-0 sm:mx-2">
            <div class="flex flex-col md:flex-col lg:flex-row items-center">
              <img
                [src]="item.img"
                class="w-full"
              />
              <div class="flex flex-col gap-y-3 px-3 py-3">
                  <span class="title text-sm text-gray_400">{{item.desc}}</span>
                  <span class="desc text-yellow_600 italic text-sm text-end">- {{item.name}}</span>
              </div>
            </div>
          </hs-slide>
        </horizontal-slider>
      </div>
    </div>
  </div>