<div class=""><app-navbar></app-navbar></div>
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active item1">
      <div class="flex items-center justify-start h-full px-10 sm:px-16 lg:px-24 xl:px-36 2xl:px-40">
        <div class="w-full sm:4/5 md:w-3/5 lg:w-2/5">
          <h1 class="text-lg sm:text-xl md:text-3xl xl:text-5xl font-bold text-yellow_600">WE ARE AVAILABLE</h1>
          <h3 class="text-lg xm:text-xl md:text-2xl xl:text-3xl text-white font-bold">FOR YOUR WOODEN WORK</h3>
          <div class="bg-brown_800 hidden md:flex items-center justify-between mt-3">
            <button
              class="tab-btn leading-3 tracking-widest text-xs sm:text-sm w-1/3 my-2 border-r-2 border-white"
            >
              DOMESTIC
            </button>
            <button
              class="tab-btn leading-3 tracking-widest text-xs sm:text-sm w-1/3 my-2 border-r-2 border-white"
            >
              COMMERCIAL
            </button>
            <button
              class="tab-btn leading-3 tracking-widest text-xs sm:text-sm w-1/3 my-2"
            >
              INDUSTRIAL
            </button>
          </div>
          <p class="hidden md:block mt-3 italic text-white">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <div class="flex items-start sm:items-center flex-col sm:flex-row gap-y-4 sm:gay-y-0 gap-x-4 mt-2 md:mt-5">
            <button
              class="services-btn hover:bg-yellow_600 ease-in-out duration-300 tracking-widest font-bold text-xs sm:text-sm px-6 py-2 border-1 border-opacity-25 border-yellow_600 outline-none"
            >
              PURCHASE NOW
            </button>
            <button
              class="services-btn hover:bg-yellow_600 ease-in-out duration-300 tracking-widest font-bold text-xs sm:text-sm px-6 py-2 border-1 border-opacity-25 border-yellow_600 outline-none"
            >
              OUR SERVICES
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item2">
      <div class="items-center flex justify-center lg:justify-end h-full px-10 sm:px-16 lg:px-24 xl:px-36 2xl:px-40">
        <div class="w-full flex flex-col items-center md:items-start md:w-4/5 lg:w-3/5 xl:w-2/5">
          <div class="bg-brown_800 hidden md:flex items-center justify-between mb-3 w-full">
            <button
              class="tab-btn leading-3 tracking-widest text-sm w-1/3 my-2 py-1 border-r-2 border-white"
            >
              DOMESTIC
            </button>
            <button
              class="tab-btn leading-3 tracking-widest text-sm w-1/3 my-2 py-1 border-r-2 border-white"
            >
              COMMERCIAL
            </button>
            <button
              class="tab-btn leading-3 tracking-widest text-sm w-1/3 my-2 py-1"
            >
              INDUSTRIAL
            </button>
          </div>
          <h1 class="text-lg sm:text-xl md:text-3xl xl:text-5xl font-bold text-yellow_600">DESIGN FURNITURE</h1>
          <h3 class="text-lg sm:text-xl md:text-3xl xl:text-5xl text-white font-bold">MAKE DOORS</h3>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
