<div class="main py-5">
  <div class="container">
    <div class="mb-10">
      <h1 class="font-bold text-2xl">WHO WE ARE</h1>
      <div class="w-20 border-b-3 rounded-full border-yellow_700 my-3"></div>
    </div>
    <div class="grid grid-cols-12 gap-y-6 md:gap-y-0 gap-x-6 lg:gap-x-0">
      <div class="col-span-12 md:col-span-4 flex justify-center md:justify-start">
        <img
          src="http://designarc.biz/demos/wood-workshop/images/who-area/1.jpg"
          class="border-6 border-gray_100 img"
        />
      </div>
      <div class="col-span-12 md:col-span-8 flex flex-col justify-between">
        <div class="flex flex-col gap-y-6">
          <h1 class="text-black text-xl">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          </h1>
          <span class="text-gray_400">
            accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dict eaque ipsa quae ab illo inventore veritatis et quasi
            architecto. Iinventore veritatis et quasi architecto beatae vitae
            dict eaque ipsa quae ab illo inventore veritatis et quasi
            architecto.ntore veritatis et quasi archit. quasi architecto beatae
            vitae dict eaque ipsa quae ab illo inventore.
          </span>
          <ul class="grid grid-cols-12 gap-3 text-gray_400">
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Complete Savety Analysis
            </li>
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Complete Savety Analysis
            </li>
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Certified Company Since 2005
            </li>
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Certified Company Since 2005
            </li>
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Complete Savety Analysis
            </li>
            <li class="col-span-12 sm:col-span-6">
              <i class="mr-2 fa fa-thumbs-up text-yellow_600"></i>
              Complete Savety Analysis
            </li>
          </ul>
        </div>
        <div class="hidden lg:grid grid-cols-12 bg-gray_50 px-2 py-4">
          <div class="small-left-div col-span-12 sm:col-span-3">
              <img src="http://designarc.biz/demos/wood-workshop/images/who-area/box-image.png">
          </div>
          <div class="col-span-12 sm:col-span-9 px-4">
            <span class="text-gray_400 text-sm">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusant ium dolore mque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              voluptatem accus antium dolore mque laudantium, totam dict eaque
              ipsa.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid lg:hidden mt-5 grid-cols-12 bg-gray_50 px-2 py-4 gap-y-6 sm:gap-y-0">
      <div class="small-left-div col-span-12 sm:col-span-3">
          <img src="http://designarc.biz/demos/wood-workshop/images/who-area/box-image.png">
      </div>
      <div class="col-span-12 sm:col-span-9 px-4">
        <span class="text-gray_400 text-sm">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusant ium dolore mque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          voluptatem accus antium dolore mque laudantium, totam dict eaque
          ipsa.
        </span>
      </div>
    </div>
  </div>
</div>
