/* .small-left-div{
    background-image: url("http://designarc.biz/demos/wood-workshop/images/who-area/box-image.png");
    background-size: 100% 100%;
    object-fit: contain;
} */

.main {
  background: url('http://designarc.biz/demos/wood-workshop/images/who-area/bg.png')
    no-repeat scroll right bottom;
}
.img {
  box-shadow: inset 0px 0px 0px 6px white;
  box-sizing: border-box;
}
